body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
      37deg,
      rgba(254, 103, 90, 1) 0%,
      rgba(91, 133, 239, 1) 50%,
      rgba(0, 224, 217, 1) 100%
    )
    no-repeat;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.appPage {
  display: flex;
}

.sideBar {
  margin-right: 15px;
}

/* colors:
red - #fe675a rgb(254, 103, 90)
blue - #5b85ef rgb(91, 133, 239)
turquoise - #00e0d9 rgb(0, 224, 217) */
