.navigation {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: rgba(91, 133, 239, 1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navigationLink,
.authLink,
.logoutBtn {
  padding: 10px 20px;
  background-color: rgba(0, 0, 255, 0.1);
  border: none;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
}

.navigationLink:not(:last-child),
.authLink:not(:last-child) {
  margin-right: 15px;
}

.navigationActiveLink {
  background-color: rgba(0, 0, 255, 0.5);
}

.authLink {
  background-color: rgba(254, 103, 90, 0.3);
}

.authActiveLink {
  background-color: rgba(254, 103, 90, 0.7);
}

.welcoming {
  display: flex;
  align-items: center;
}

.welcomingIcon {
  margin-right: 5px;
}

.logoutBtn {
  margin-left: 10px;
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: rgba(0, 0, 255, 0.5);
}

.loader {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}
